/**
 * Gist
 */
.gist {
  background-color: #ffffff;
  border-radius: var(--border-radius);
  position: relative;
}

.gist__body {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: initial;
}

.gist__link {
  display: inline-block;
}

.gist__text {
  font-size: 14px;
  color: var(--color-default);
}

.gist__footer {
  border-top: 1px solid var(--border-color);
  padding: var(--padding);
}

.gist__forks {
  display: flex;
}

.gist__avatar + .gist__avatar {
  margin-left: calc(var(--margin) / 2);
}

.gist--empty .gist__body {
  display: block;
}