/**
 * Gist list styles
 * @author Ali Raza

 Table of content
 =====================================================
 1. Global
 2. Layout
 3. Components
    1.1. Gist List
    1.2. Gist
    1.3. Header
    1.4. Logo
    1.5. Search
    1.6. Copyright
    1.7. Button
    1.8. Link
    1.9. Card
 4. Utils 
 ==================================================== */

:root {
  /* font */
  --font-family: "Avenir Next", "Avenir", system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

  /* spacing */
  --margin: 1rem;
  --padding: 1rem;

  /* border */
  --border-radius: 4px;
  --border-color: #ddd;

  /* text color */
  --color: #333;
  --color-secondary: #402a67;

  /* background color */
  --background-color: #f5f5f5;
  --background-color-primary: #3c454b;
  --background-color-secondary: #09c98c;
}

/**
 * Global
 ==================================================== */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

/**
 * Layout
 ==================================================== */
.container {
  width: 70vw;
  margin: 0 auto;
}


.app {}

.app__header {
  margin-bottom: calc(var(--margin) * 3);
}

.app__main {}
.app__footer {}

/**
 * Components
 ==================================================== */

/**
 * Gist list
 */
.gist-list {}
.gist-list__header {
}

.gist-list__title {
  margin-bottom: var(--margin);
}

/**
 * Gist
 */


/**
 * Header
 */
.header {
  padding: var(--padding) 0;
  background-color: var(--background-color-primary);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.16);
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__logo {
  flex: 1 auto;
  display: flex;
  align-items: center;
}

.header__search {
  flex: 1 auto;
}


/**
 * Logo
 */
.logo {
  fill: #fff;
  width: 100px;
  height: 25px;
}


/**
 * Search
 */
.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search__label {
  color: rgba(255,255,255,0.5);
  margin-right: calc(var(--margin) / 2);
}

.search__input {
  min-width: 50%;
  appearance: none;
  outline: none;

  margin: 0 calc(var(--margin) / 2) 0 0;
  padding: calc(var(--padding) / 2);

  border: 0;
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  font-size: 17px;
  transition: all 0.12s;
}

.search__button {}


/**
 * Copyright
 */
.copyright {
  font-size: 12px;
}


/**
 * Button
 */
.button {   
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: calc(var(--padding) / 2) var(--padding);
  user-select: none;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  background-color: var(--background-color-secondary);
  border: 0;
  border-radius: var(--border-radius);
  color: #fff;
  font-family: var(--font-family);
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  transition: all 0.12s;
}


/**
 * Link
 */
.link {
}


/**
 * Card
 */
.card {
  background-color: #ffffff;
  border-radius: var(--border-radius);
}

.card__body {
  padding: var(--padding);
}